m4/
autom4te.cache/
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
compile
stamp-h1
libtool
test-driver
depcomp
install-sh
missing
ltmain.sh
INSTALL
ChangeLog

android/assets
android/bin
android/gen
android/**/gst-build*
android/libs
android/obj
android/local.properties
android/project.properties
android/proguard-project.txt
android/src/org/freedesktop/gstreamer/GStreamer.java
android/.gradle
android/.idea
android/*.iml
android/build/
android/app/src/main/obj/
android/app/build/
android/app/src/main/jni/assets/
android/app/src/main/jni/gst-build-armeabi/
android/app/src/main/jni/src/
android/app/src/main/libs/armeabi/libgst*.so

gst-play/gst-play
gtk/gtk-play
gtk/gtk-play-resources.c
gtk/gtk-play-resources.h

docs/**/*.stamp
docs/*/*-decl-list.txt
docs/*/*-decl.txt
docs/*/*-overrides.txt
docs/*/*-undeclared.txt
docs/*/*-undocumented.txt
docs/*/*-unused.txt
docs/*/*.args
docs/*/*.hierarchy
docs/*/*.interfaces
docs/*/*.prerequisites
docs/*/*.signals
docs/*/tmpl
docs/*/xml
docs/*/html

pkgconfig/*.pc

*~
*.gir
*.typelib
*.swp
*.log
*.trs
*.o
*.lo
*.la
.deps
.libs

**/Makefile
**/Makefile.in
**/xcuserdata/
**/xcshareddata/
